* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}

/* Common Components */
a {
  text-decoration: none;
  color: white;
}

.area {
  width: 1170px;
  margin: 0 auto;
}

.btn {
  background-color: #2E80CE;
  border-radius: 22px;
}

.btn:hover {
  opacity: 0.5;
}

/* Header */
header {
  height: 800px;
  background-color: #10375C;
}

header .logo {
  padding-right: 95px;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 26px;
}

ul a {
  padding: 4px 8px;
  color: #C9D2DA;
}

ul a:hover {
  color: #FFF;
}

.auth .btn {
  padding: 12px 20px;
  margin-left: 28px;
}

header .content {
  padding-top: 76px;
  display: flex;
}

header .content .info {
  width: 517px;
  padding-top: 60px;
}

.info h1 {
  color: #FFF;
  font-size: 7rem;
  font-weight: 600;
  line-height: 8rem;
  /* 114.286% */
  letter-spacing: -0.14rem;

  margin-bottom: 22px;
}

.info .desc {
  color: #C9D2DA;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 3rem;
  /* 166.667% */

  margin-bottom: 38px;
}

.info .cta {
  display: flex;
  align-items: center;
}

.cta .btn {
  padding: 22px 53px;
  border-radius: 30px;
  margin-right: 38px;
}

.cta .btn:hover {
  opacity: 0.5;
}

.content .img {
  margin-left: 113px;
  display: flex;
  align-items: center;
}

.img .smaller {
  width: 210px;
  height: 410px;
  object-fit: cover;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

/* Our Services */
.services .area {
  padding: 170px 0;
}

.services .title {
  text-align: center;
}

.title h2 {
  color: #10375C;
  font-size: 5rem;
  font-weight: 600;
  letter-spacing: -0.1rem;

  margin-bottom: 18px;
}

.title p {
  display: inline-block;
  width: 468px;
  color: #575F66;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 3rem;
  /* 166.667% */
}

.services .content {
  margin-top: 70px;
  display: flex;
  align-items: center;
  gap: 130px;
}

.info .box {
  display: flex;
  flex-direction: column;
}

.info section {
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 21px 18px 20px 22px;
}

.info section:hover {
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.info .name h3 {
  color: #10375C;
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 8px;
}

.info .name p {
  color: #575F66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2.8rem;
  /* 175% */
}

.services .cta {
  display: inline-block;
  margin-top: 75px;
  padding: 22px 53px;
  border-radius: 30px;
}

/* How it Works */
.hiw {
  background: #F6FBFF;
}

.hiw .area {
  padding: 100px 0;
}

.hiw .heading {
  color: #10375C;
  font-size: 5rem;
  font-weight: 600;
  letter-spacing: -0.1rem;

  margin-bottom: 18px;
}

.hiw .desc {
  width: 468px;
  color: #575F66;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 3rem;
  /* 166.667% */
}

.hiw .container {
  margin-top: 86px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hiw .container section {
  width: 370px;
  height: 402px;
  padding: 43px 42px;
  border-radius: 4px;
  background-color: #FFF;
  border: 16px solid #EAF6FF;
}

.hiw img {
  margin-bottom: 18px;
}

.hiw h3 {
  color: #10375C;
  font-size: 2.6rem;
  font-weight: 600;

  margin-bottom: 28px;
}

.hiw .container .desc {
  margin-bottom: 18px;
  width: 254px;
}

.hiw a {
  color: #2E80CE;
  font-size: 1.6rem;
  font-weight: 300;
}

/* About Us */
.about-us .area {
  padding: 170px 0;
  display: flex;
  align-items: center;
  gap: 188px;
}

.about-us .img-container {
  width: 570px;
  height: 491px;
  position: relative;
}

.about-us .bottom-img {
  width: 512px;
  height: 370px;
}

.about-us .top-img {
  position: absolute;
  bottom: 0;
  right: -58px;
}

.about-us img {
  border-radius: 6px;
}

.about-us .info h2 {
  color: #10375C;
  font-size: 5rem;
  font-weight: 600;
  letter-spacing: -0.1rem;

  margin-bottom: 18px;
}

.about-us .info p {
  width: 468px;
  color: #575F66;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 3rem;
  /* 166.667% */

  margin-bottom: 38px;
}

.about-us .info a {
  display: inline-block;
  border-radius: 30px;
  padding: 22px 53px;
}

/* Teams */
.teams .area {
  padding: 170px 0;
}

.teams .heading {
  text-align: center;
}

.teams .heading h2 {
  color: #10375C;
  font-size: 5rem;
  font-weight: 600;
  letter-spacing: -0.1rem;
}

.teams .heading .btn {
  display: inline-block;
  padding: 22px 53px;
  border-radius: 30px;

  margin-top: 38px;
}

.teams .container {
  margin-top: 70px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.teams .dentist {
  width: 270px;
  text-align: center;
}

.teams .dentist img {
  padding: 28px 4px 0;
  background-color: #EAF6FF;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  object-fit: cover;
}

.teams .dentist h3 {
  margin-top: 12px;
  color: #10375C;
  font-size: 1.6rem;
  line-height: 2.8rem;
  /* 175% */
  font-weight: 400;
}

.teams .dentist p {
  color: #575F66;
  font-size: 1.4rem;
  font-weight: 300;
}

.teams .nav-btn-container {
  margin-top: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
}

.teams .nav-btn {
  width: 36px;
  height: 36px;
  border: 1px solid #575F66;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.teams .active {
  border: none;
  background-color: #2E80CE;
}
